<ion-header>

  <ion-navbar>
    <ion-title>{{ recette.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>{{ recette.name }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of recette.description">{{ line }}</p>
    </ion-card-content>
  </ion-card> -->
  <ion-card-header>{{ recette.name }}</ion-card-header>
  <ion-card-content>
    <p *ngFor="let line of appareil.description">{{ line }}</p>
  </ion-card-content>
  <ion-grid no padding>
    {{ recette.name }}
  </ion-grid>

</ion-content>
