page-galerie {
    ion-badge{
        color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 100%;
    }

    .category-block {
        margin-bottom: 4px;
    }

    .category-banner{
        border-left: 8px solid var(--ion-color-secondary);
        background: var(--ion-color-light);
        height: 40px;
        padding: 10px;
        font-weight: 500;
    }
    ion-card{
        img {
            margin: 10px auto;
            height: 25vh !important;
            width: auto !important;
            max-width: 85%;
            align-items: center;
        }
        ion-card-content {
            padding: 0 !important;
    
            ion-card-title {        
                padding-top: 1.5rem !important;
                padding-bottom: 1.5rem !important;
            }
        }
    }
}
