<ion-header>
  <ion-navbar>
    <ion-title>Galerie photo</ion-title>
    <ion-buttons start >
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content  padding>
  <ion-segment [(ngModel)]="galleryType" color="primary" checked="grille">
    <ion-segment-button value="grille" checked>
      Grille
    </ion-segment-button>
    <ion-segment-button value="liste" >
      Liste
    </ion-segment-button>
    <ion-segment-button value="Pinterest" >
      Pinterest
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="galleryType">
    <ion-grid *ngSwitchCase="'grille'" >
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
          <img src="assets/imgs/{{image}}" class="thumb-img" imageViewer/>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid *ngSwitchCase="'liste'">
      <ion-slides class="image-slider" loop="true" effect="coverflow">
        <ion-slide *ngFor="let img of images">
          <img src="assets/imgs/{{img}}" class="thumb-img" imageViewer/>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <!-- <div *ngSwitchCase="'pinterest'">
      <div class="one-image" *ngFor="let image of images">
        <img src="assets/imgs/{{image}}" class="thumb-img" imageViewer/>
      </div>
    </div> -->
  </div>  
</ion-content>