page-video {
    .image-container{
        min-height: 100px;
        background-size: cover;
    }

    ion-slide.swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .slide-zoom{
        background: #e6e6e6;
    }
}