page-video {
    background: #210405;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;

    .image-container{
        min-height: 100px;
        background-size: cover;
    }

    ion-slide.swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .slide-zoom{
        background: #000000;
    }
}